In [22]:
c1_name = "Mr.Farley"
c1_age = 65
c1_profession = "Web Developer"
c1_salary = 100000.00
c1_species = "cat"
c1_location = "San Francisco, CA"
c1_monthly_rent = 2000
c1_monthly_expenses = 1500
c1_yearly_rent = c1_monthly_rent * 12
c1_yearly_expenses = 1500 * 12
c1_savings = c1_salary - (c1_yearly_rent + c1_yearly_expenses)

In [23]:
c2_name = "Mr.Snuggles"
c2_age = 30
c2_species = "mouse"
c2_profession = "Accountant"
c2_salary = 70000
c2_location = "Oakland, CA"
c2_monthly_rent = 4000
c2_monthly_expenses = 500
c2_yearly_rent = c2_monthly_rent * 12
c2_yearly_expenses = c2_monthly_expenses * 12
c2_savings = c2_salary - (c1_yearly_rent + c2_yearly_expenses)

In [24]:
if c1_name == "Mr.Farley":
    print("Hello Mr.Farley")
else:
    print("Hello stranger")

Hello Mr.Farley

In [31]:
if c2_age > c1_age:
    print(f"{c2_name} is older than {c1_name}")
elif c2_age < c1_age:
    print(f"{c1_name} is older than {c2_name}")
else: 
    print(f"Mr.Farley is the same age as Mr.Snuggles")

Mr.Farley is older than Mr.Snuggles

In [33]:
if c1_location == "Oakland, CA":
    print("Mr.Farley comes from the home of the Raiders!")
elif c1_location == "San Francisco, CA":
    print("Mr. Farley comes from the home of the 49ers!")
else:
    print("Mr.Farley doesn't hail from a sports town")

Mr. Farley comes from the home of the 49ers!

In [36]:
if c1_profession == "Web Developer" and c2_profession == "Accountant":
    print("Look a Web Developer and an Accountant")
else:
    print("They are professionals")

Look a Web Developer and an Accountant