In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvpath = Path("../Resources/sales.csv")
sales_dataframe = pd.read_csv(csvpath, header = None)
columns = ["Full Name", "Email", "Primary Address", "Zip Code", "Credit Card Number", "Sale Price"]
sales_dataframe.columns = columns
sales_dataframe.head()

,Full Name,Email,Primary Address,Zip Code,Credit Card Number,Sale Price
0,FullName,Email,Address,Zip,CreditCard,SalePrice
1,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
2,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
3,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
4,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88

In [3]:
sales_dataframe.describe()

       Full Name  Email Primary Address Zip Code Credit Card Number Sale Price
count        101    101             101      101                101        101
unique       101    101             101      101                101        101
top     FullName  Email         Address      Zip         CreditCard  SalePrice
freq           1      1               1        1                  1          1

<bound method NDFrame.describe of              Full Name                      Email          Primary Address  \
0             FullName                      Email                  Address
1        Elwanda White         alyre2036@live.com       352 Lakeshore Mall
2       Lyndon Elliott     arrowy1873@outlook.com         1234 Avery Plaza
3       Daisey Sellers     toucan2024@outlook.com        469 Elwood Street
4         Issac Reeves       asarin1958@gmail.com         565 Phelps Field
..                 ...                        ...                      ...
96          Basil Rios       holloo1814@yahoo.com        605 Sloat Terrace
97       Hipolito Rios  calefacient2049@gmail.com  1248 Fountain Boulevard
98   Clayton Robertson         coner2015@live.com        230 Paper Parkway
99       Tony Chandler     sexillion2061@live.com     118 Flood Plantation
100        Cuc Mcgowan   dispatched1820@gmail.com       87 Louisiana Grove

    Zip Code   Credit Card Number Sale Price
0        Zip           CreditCard  SalePrice
1       9236  5327 0855 9720 7055      84.33
2       1330    3717 498777 19636     879.95
3       7631    3758 579477 35734     907.58
4      81168  4400 0380 4162 1622     545.88
..       ...                  ...        ...
96      8108  5581 7245 8451 9384     937.14
97     37077  2333 0264 5343 2022     645.82
98     57242  2414 3939 6501 2607     128.73
99     70135  5581 8059 1883 1841        820
100    70959  2678 4140 5531 3894     764.69

[101 rows x 6 columns]>

In [5]:
input_string = "CxowdwidnfgcisswCgohojlk"

hidden_message = input_string[1::3]

print(hidden_message)

xddgsChl