# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [4]:
cvspath = Path("../../Resources/stock_data.csv")
stock_data_frame = pd.read_csv(cvspath)

### Identify the number of rows and columns (shape) in the DataFrame.

In [9]:
stock_data_frame.count

<bound method DataFrame.count of     symbol                    name                  sector    price  \
0      MMM              3M Company             Industrials  $222.89
1      AOS         A.O. Smith Corp             Industrials      NaN
2      ABT     Abbott Laboratories             Health Care    56.27
3     ABBV             AbbVie Inc.             Health Care   108.48
4     ATVI     Activision Blizzard  Information Technology    65.83
..     ...                     ...                     ...      ...
499    XYL              Xylem Inc.             Industrials    70.24
500    YUM         Yum! Brands Inc  Consumer Discretionary     76.3
501    ZBH  Zimmer Biomet Holdings             Health Care   115.53
502   ZION           Zions Bancorp              Financials    50.71
503    ZTS                  Zoetis             Health Care    71.51

     price_per_earnings  dividend_yield earnings_per_share  52_week_low  \
0                 24.31        2.332862              $7.92      259.770
1                   NaN             NaN                NaN          NaN
2                 22.51        1.908982               0.26       64.600
3                 19.41        2.499560               3.29      125.860
4                   NaN        0.431903               1.28       74.945
..                  ...             ...                ...          ...
499               30.94        1.170079               1.83       76.810
500               27.25        1.797080               4.07       86.930
501               14.32        0.794834               9.01      133.490
502               17.73        1.480933                2.6       55.610
503               32.80        0.682372               1.65       80.130

     52_week_high    market_cap        ebitda  price_per_sales  \
0          175.49  1.387211e+11  9.048000e+09         4.390271
1             NaN           NaN           NaN              NaN
2           42.28  1.021210e+11  5.744000e+09         3.740480
3           60.05  1.813863e+11  1.031000e+10         6.291571
4           38.93  5.251867e+10  2.704000e+09        10.595120
..            ...           ...           ...              ...
499         46.86  1.291502e+10  7.220000e+08         2.726209
500         62.85  2.700330e+10  2.289000e+09         6.313636
501        108.17  2.445470e+10  2.007400e+09         3.164895
502         38.43  1.067068e+10  0.000000e+00         3.794579
503         52.00  3.599111e+10  1.734000e+09         9.280896

     price_per_book                                        sec_filings
0             11.34  http://www.sec.gov/cgi-bin/browse-edgar?action...
1               NaN                                                NaN
2              3.19  http://www.sec.gov/cgi-bin/browse-edgar?action...
3             26.14  http://www.sec.gov/cgi-bin/browse-edgar?action...
4              5.16  http://www.sec.gov/cgi-bin/browse-edgar?action...
..              ...                                                ...
499            5.31  http://www.sec.gov/cgi-bin/browse-edgar?action...
500          212.08  http://www.sec.gov/cgi-bin/browse-edgar?action...
501            2.39  http://www.sec.gov/cgi-bin/browse-edgar?action...
502            1.42  http://www.sec.gov/cgi-bin/browse-edgar?action...
503           18.09  http://www.sec.gov/cgi-bin/browse-edgar?action...

[504 rows x 14 columns]>

### Generate a sample of the data to visually ensure data has been loaded in correctly.

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

### Identify nulls records

### Drop Null Records

### Validate nulls have been dropped

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

### Drop Duplicates

### Sample `price` field

### Clean `price` Series by replacing `$`

### Confirm data type of `price`

### Cast `price` Series as float and then validate using `dtype`