# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [2]:
csvpath = Path("../../Resources/stock_data.csv")
stock_data_frame = pd.read_csv(csvpath)

### Identify the number of rows and columns (shape) in the DataFrame.

In [3]:
stock_data_frame.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [4]:
stock_data_frame.sample(5)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
446,TMK,Torchmark Corp.,Financials,80.52,17.02,0.720461,4.5,93.595,73.530,9.614412e+09,0.000000e+00,3.107966,1.88,http://www.sec.gov/cgi-bin/browse-edgar?action...
498,XL,XL Capital,Financials,41.26,-19.93,2.095238,-2.24,47.270,33.770,1.075342e+10,0.000000e+00,0.843942,0.97,http://www.sec.gov/cgi-bin/browse-edgar?action...
265,K,Kellogg Co.,Consumer Staples,65.98,16.50,3.363962,1.95,76.690,58.760,2.218279e+10,1.827000e+09,2.317376,11.50,http://www.sec.gov/cgi-bin/browse-edgar?action...
363,PSX,Phillips 66,Energy,92.44,21.11,2.928564,9.93,107.470,75.135,4.799622e+10,5.311000e+09,0.474995,2.12,http://www.sec.gov/cgi-bin/browse-edgar?action...
206,IT,Gartner Inc,Information Technology,114.26,36.86,0.000000,2.31,142.160,97.960,1.082831e+10,2.349350e+08,4.894499,13.47,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [5]:
records = stock_data_frame.to_records()
number_of_records = len(records)
print(f"Number of records: {number_of_records}")

# .shape() returns a tuple with shape (rows, columns), so we do .0 to get 
# just the number of rows
number_of_rows = stock_data_frame.shape[0]
print(f"Number of rows: {number_of_rows}")

Number of records: 504
Number of rows: 504

### Identify nulls records

In [6]:
stock_data_frame.isnull().mean() * 100

symbol                0.000000
name                  0.396825
sector                0.595238
price                 0.793651
price_per_earnings    1.388889
dividend_yield        0.992063
earnings_per_share    1.190476
52_week_low           0.793651
52_week_high          0.793651
market_cap            0.793651
ebitda                2.380952
price_per_sales       0.793651
price_per_book        2.380952
sec_filings           0.793651
dtype: float64

### Drop Null Records

In [17]:
stock_data_frame.dropna(inplace = True)

### Validate nulls have been dropped

In [18]:
stock_data_frame.isnull().sum()

symbol                0
name                  0
sector                0
price                 0
price_per_earnings    0
dividend_yield        0
earnings_per_share    0
52_week_low           0
52_week_high          0
market_cap            0
ebitda                0
price_per_sales       0
price_per_book        0
sec_filings           0
dtype: int64

In [19]:
stock_data_frame.shape

(478, 14)

In [20]:
stock_data_frame.count()

symbol                478
name                  478
sector                478
price                 478
price_per_earnings    478
dividend_yield        478
earnings_per_share    478
52_week_low           478
52_week_high          478
market_cap            478
ebitda                478
price_per_sales       478
price_per_book        478
sec_filings           478
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [31]:
stock_data_frame['ebitda'].isnull().sum()

0

In [23]:
stock_data_frame["ebitda"].fillna(0, inplace = False)

0      9.048000e+09
2      5.744000e+09
3      1.031000e+10
5      5.878000e+08
6      2.538040e+09
           ...
499    7.220000e+08
500    2.289000e+09
501    2.007400e+09
502    0.000000e+00
503    1.734000e+09
Name: ebitda, Length: 478, dtype: float64

In [32]:
stock_data_frame['ebitda'].isnull().sum()

0

### Drop Duplicates

In [43]:
stock_data_frame.duplicated()

0      False
2      False
3      False
5      False
6      False
       ...
499    False
500    False
501    False
502    False
503    False
Length: 478, dtype: bool

In [42]:
stock_data_frame.drop_duplicates(inplace = True)
stock_data_frame.duplicated()

0      False
2      False
3      False
5      False
6      False
       ...
499    False
500    False
501    False
502    False
503    False
Length: 478, dtype: bool