In [3]:
subject = None

In [4]:
subject = "Programmers"

In [6]:
first_name = "Ada"

In [7]:
last_name = "Lovelace"

In [23]:
full_name = first_name + " " + last_name
# print(full_name)

print(f"{first_name} {last_name}")

Ada Lovelace

In [24]:
profession = "Computer Programmer"

In [25]:
known_for = "First Computer Programmer"

In [26]:
first_algorithm = "Analytical Engine"

In [27]:
city_location = "London"

In [28]:
country_location = "England"

In [29]:
nationality = "British"

In [30]:
birth_year = 1815

In [31]:
death_year = 1852

In [32]:
age_at_passing = death_year - birth_year
print(age_at_passing)

37

In [34]:
year_of_publish = 1842

In [35]:
print(first_name)

Ada

In [42]:
print(f"First Name: {first_name}")

First Name: Ada

In [45]:
print(f"Last Name: {last_name}")

Last Name: Lovelace

In [46]:
print(f"Profession: {profession}")

Profession: Computer Programmer

In [48]:
print(f"BirthYear: {birth_year}")

BirthYear: 1815

In [64]:
statement_one = (f"{subject}:{full_name} is a {nationality} {profession} born in {birth_year}.")
print(statement_one)

Programmers:Ada Lovelace is a British Computer Programmer born in 1815.

In [59]:
statement_two = (f"She is commonly referred to as the {known_for}.")
print(statement_two)

She is commonly referred to as the First Computer Programmer

In [63]:
statement_three = (f"In {year_of_publish} she published the first Algorithm, the Analytical Engine, at the age of 27.")
print(statement_three)

In 1842 she published the first Algorithm, the Analytical Engine, at the age of 27.

In [66]:
statement_four = (f"She was a {nationality} Citizen who lived in {city_location}, {country_location} until her pasising in {death_year} at the age of {age_at_passing}.")
print(statement_four)

She was a British Citizen who lived in London, England until her pasising in 1852 at the age of 37.