# Going Live with Algo Trading

In [5]:
# Initial imports
import os
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv

# Load .env environment variables
load_dotenv()

True

## Alpaca Example
**Note**: You'll need to use your own API and Secret key here to run this code. (You can do so for free at the [Alpaca Trading](https://alpaca.markets/) website).

[alpaca-trade-api ](https://github.com/alpacahq/alpaca-trade-api-python) is a python package that can be used to trade algorithmically through [Alpaca](https://alpaca.markets/), a U.S. equities broker.

In [12]:
import alpaca_trade_api as tradeapi

API_KEY = 'PKXO3V3B1M0M0KJLALFW'
API_SECRET = 'o8EdMmAScLCsLo3mCKd853yUrg0bI04EoGUHmW90'
ALPACA_API_BASE_URL = "https://paper-api.alpaca.markets"

In [13]:
# Create a connection to the API 
api = tradeapi.REST(API_KEY, API_SECRET, ALPACA_API_BASE_URL, api_version="v2")

In [14]:
# Set signal variable
signal = 1

In [15]:
# Create buy signal, num shares and ticker
if signal == 1:
    orderSide = "buy"
else:
    orderSide = "sell"

In [21]:
# Set the ticket symbol and the number of shares to buy
ticker = "DIS"
number_of_shares = 1

In [22]:
# Make API call
prices = api.get_bars(ticker, "1Min").df

prices

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-12-20 09:29:00+00:00,93.7500,93.7500,93.7500,6,93.7500,300,93.756467
2023-12-20 09:41:00+00:00,93.8000,93.8000,93.8000,9,93.8000,1018,93.796974
2023-12-20 10:16:00+00:00,93.7100,93.7100,93.7100,5,93.7100,200,93.710600
2023-12-20 10:22:00+00:00,93.7200,93.7200,93.7200,3,93.7200,141,93.717518
2023-12-20 10:59:00+00:00,93.7000,93.7000,93.7000,6,93.7000,334,93.707006
...,...,...,...,...,...,...,...
2023-12-21 00:48:00+00:00,91.3800,91.4099,91.3800,3,91.3900,5516,91.408382
2023-12-21 00:52:00+00:00,91.3800,91.3800,91.3800,9,91.3800,178,91.375056
2023-12-21 00:53:00+00:00,91.4100,91.4100,91.4100,8,91.4100,272,91.409963
2023-12-21 00:58:00+00:00,91.4999,91.4999,91.4999,3,91.4999,206,91.499806
2023-12-21 00:59:00+00:00,91.4100,91.4100,91.4100,8,91.4100,228,91.418816

In [23]:
# Reorganize the DataFrame
prices = pd.concat([prices], axis=1, keys=["DIS"])
prices

                               DIS                                         \
                             close     high      low trade_count     open
timestamp
2023-12-20 09:29:00+00:00  93.7500  93.7500  93.7500           6  93.7500
2023-12-20 09:41:00+00:00  93.8000  93.8000  93.8000           9  93.8000
2023-12-20 10:16:00+00:00  93.7100  93.7100  93.7100           5  93.7100
2023-12-20 10:22:00+00:00  93.7200  93.7200  93.7200           3  93.7200
2023-12-20 10:59:00+00:00  93.7000  93.7000  93.7000           6  93.7000
...                            ...      ...      ...         ...      ...
2023-12-21 00:48:00+00:00  91.3800  91.4099  91.3800           3  91.3900
2023-12-21 00:52:00+00:00  91.3800  91.3800  91.3800           9  91.3800
2023-12-21 00:53:00+00:00  91.4100  91.4100  91.4100           8  91.4100
2023-12-21 00:58:00+00:00  91.4999  91.4999  91.4999           3  91.4999
2023-12-21 00:59:00+00:00  91.4100  91.4100  91.4100           8  91.4100


                          volume       vwap
timestamp
2023-12-20 09:29:00+00:00    300  93.756467
2023-12-20 09:41:00+00:00   1018  93.796974
2023-12-20 10:16:00+00:00    200  93.710600
2023-12-20 10:22:00+00:00    141  93.717518
2023-12-20 10:59:00+00:00    334  93.707006
...                          ...        ...
2023-12-21 00:48:00+00:00   5516  91.408382
2023-12-21 00:52:00+00:00    178  91.375056
2023-12-21 00:53:00+00:00    272  91.409963
2023-12-21 00:58:00+00:00    206  91.499806
2023-12-21 00:59:00+00:00    228  91.418816

[548 rows x 7 columns]

In [24]:
# Get final closing price
limit_amount = prices["DIS"]["close"][-1]
limit_amount

91.41

In [27]:
# Submit order
api.submit_order(
    symbol="DIS", 
    qty=number_of_shares, 
    side=orderSide, 
    time_in_force="gtc", 
    type="limit", 
    limit_price=limit_amount
)

Order({   'asset_class': 'us_equity',
    'asset_id': '2f34c0b3-a4aa-4959-b52c-3c41b2c246c4',
    'canceled_at': None,
    'client_order_id': 'ad4b395f-8221-4158-9d82-c9e4e223d5ad',
    'created_at': '2023-12-21T02:12:38.186646943Z',
    'expired_at': None,
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': '8015a8f1-6a6b-4ad1-bbc5-16e2335dd51f',
    'legs': None,
    'limit_price': '91.41',
    'notional': None,
    'order_class': '',
    'order_type': 'limit',
    'qty': '1',
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': 'buy',
    'source': None,
    'status': 'accepted',
    'stop_price': None,
    'submitted_at': '2023-12-21T02:12:38.185668503Z',
    'subtag': None,
    'symbol': 'DIS',
    'time_in_force': 'gtc',
    'trail_percent': None,
    'trail_price': None,
    'type': 'limit',
    'updated_at': '2023-12-21T02:12:38.186646943Z'})